@use '../../styles/variables' as *;

.game {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1000px;
  height: 802px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 60px;
  background-color: $container-color;
  padding: 27px;
}