@use "../../../styles/variables" as *;

.nav {
    display: flex;
    justify-content: center;
    flex-grow: 0.4;
}

.list {
    display: flex;
    list-style-type: none;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 64px;
}
// .icon {
//     width: 20px;
//     height: 20px;
//     background-color: #fff;
//     border-radius: 50%;
//     color: $primary-color;
//     font-size: 11px;
// }

 .link {
     display: flex;
     flex-direction: column;
     row-gap: 7px;
     align-items: center;
     color: $white-color;
     text-decoration: none;
     font-size: 12px;
 }