@use"../../../styles/variables" as *;

.button {
  display: inline;
  padding: 10px 16px;
  border-radius: 5px;
  color: $white-color;
  background-color: $primary-color;
  border: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
}