%flx {
    display: flex;
}

%flx-fdc {
    @extend %flx;
    flex-direction: column;
}

%flx-fdc-jcc {
    @extend %flx-fdc;
    justify-content: center;
}

%flx-fdc-jcc-aic {
    @extend %flx-fdc-jcc;
    align-items: center;
}

%flx-jcc {
    @extend %flx;
    justify-content: center;
}
%flx-jcsb {
    @extend %flx;
    justify-content: space-between;
}

%flx-aic {
    @extend %flx;
    align-items: center; 
}