//Colors
$primary-color: #2196f3;
$white-color: #fff;
$light-color: #f2f9fe;
$container-color: rgba(0, 0, 0, 0.05);
$modal-background: rgba(0, 0, 0, 0.25);
$form-background: #fafafa;
$input-color: rgba(33, 33, 33, 0.08);
$input-text: rgba(0, 0, 0, 0.87);
$label-color: rgba(0, 0, 0, 0.38);
$valid-marker: #018786;
$valid-shadow: rgba(1, 135, 134, 0.5);
$secondary-button: #e3f2fd;
$match-color: rgba(10, 207, 131, 0.5);
$noMatch-color: rgba(242, 78, 30, 0.5);
$modal-text: rgba(0, 0, 0, 0.6);
$active-nav-item: #1e88e5;
$setting-title: rgba(0, 0, 0, 0.87);
$setting-selector-border: #e5e5e5;
$setting-arrow: rgba(0, 0, 0, 0.54);

//Font-family
$primary-font: 'Roboto', sans-serif;