@forward  "variables";
@forward  "classes";

@use "variables" as *;

html {
    box-sizing: border-box;
}

*, 
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: $primary-font;
    font-size: 14px;
}

