@use 'variables' as *;
@use 'classes';


.header {
  @extend %flx-jcc;
  height: 64px;
  background-color: $primary-color;

  &__container {
    @extend %flx-aic;
    width: 100%;
    max-width: 1400px;
  }
}
