@use "../../../styles/variables" as *;

.score-item {
  width: 100%;
  max-width: 846px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.score-item-left-part {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.score-item-left-part-user-block {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.score-item-left-part-user-block__user-name {
  font-weight: 500;
  letter-spacing: 0.1px;
}

.score-item-left-part-user-block__user-email {
  font-size: 12px;
  letter-spacing: 0.4px;
}
.score-item-right-part {
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  font-weight: 500;
}
.score-item-right-part__score {
  margin-right: 5px;
}
.score-item-right-part__value {
  color: $primary-color;
}
