.score {
  display: flex;
  justify-content: center;
}

.score > div[class^="container"] {
  margin-top: 47px;
}

.score__player-list {
  margin-top: 25px;
}
.playerList > li:nth-child(n+2) {
  margin-top: 15px;
}

.score__placeholder {
  margin-top: 25px;
}